:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --background-color: #efefef;
    --primary-color: #3C3C3C;
    --active-color: rgb(241, 183, 21);
}

body {
    margin: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

a {
    transition: none;
    animation: none;
    text-decoration: none;
}

.img-admin {
    width: 100px;
    height: 100px;
}


/* header */

.header {
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-left: 72px;
}

.header-logo-img {
    height: 36px;
    width: 36px;
    border-radius: 2px;
}

.header-profile {
    margin-right: 72px;
}

.header-profile-img {
    height: 36px;
    width: 36px;
    border-radius: 100%;
}


/* body */

.container {
    display: flex;
}


/* navbar */

.navbar {
    width: 10%;
    background-color: var(--primary-color);
    height: 100%;
    min-height: 800px;
    padding-top: 24px;
}

.button-control {
    font-size: 22px;
    color: var(--white-color);
    padding: 8px;
    cursor: pointer;
}

.button-control:hover {
    background-color: var(--active-color);
}

.active {
    background-color: var(--active-color);
}

table {
    background-color: var(--white-color);
    padding-bottom: 16px;
    border-radius: 5px;
    padding-top: 16px;
    margin-top: 16px;
}


/* area control */

.area-display-title {
    font-size: 46px;
    margin-left: 48px;
    margin-top: 36px;
}

.area-control {
    width: 90%;
    background-color: var(--background-color);
}

.contain-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.btn-delete {
    cursor: pointer;
    color: var(--active-color);
}


/* home */

.home-display {
    display: none;
}

.container-home-list {
    display: flex;
    align-items: center;
}

.area-element {
    width: 23%;
    background-color: var(--white-color);
    height: 140px;
    margin-left: 16px;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.element-title {
    font-size: 24px;
    margin-left: 32px;
    margin-top: 16px;
}

.conatainer-element-value {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element-value {
    font-size: 40px;
}

.container-chart {
    width: 100%;
    display: flex;
    justify-content: center;
}

#piechart {
    border-radius: 10px;
}

.product-sold {
    width: 300px;
    background-color: var(--white-color);
    height: 180px;
    margin-left: 16px;
    border-radius: 5px;
}

.product-sold-title {
    font-size: 24px;
    margin: 16px;
}

.product-sold-value {
    font-size: 40px;
    margin-left: 62px;
    margin-top: 32px;
}


/* user */

.user-display {
    display: none;
}

.tbl-user {
    margin: 16px;
}

.tbl-user thead tr th {
    font-size: 24px;
    width: 20%;
    min-width: 270px;
    height: 64px;
}

.tbl-user tbody tr {
    border: 1px solid var(--text-color);
}


/* product */

.product-display {
    display: none;
}

.container-control-product {
    display: flex;
    justify-content: space-between;
}

.container-btn {
    display: flex;
    align-items: center;
    margin-right: 48px;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form form {
    width: 800px;
    border: 1px solid var(--text-color);
    border-radius: 2px;
    padding: 32px;
    margin-top: 24px;
}

.btn-product {
    width: 120px;
    height: 36px;
    font-size: 18px;
    cursor: pointer;
    display: none;
    background-color: var(--active-color);
    border: none;
}

.add-product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-product {
    width: 750px;
    height: 36px;
    padding: 8px;
    margin: 8px;
    outline: none;
    font-size: 20px;
}

.btn-save-product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-save-product input {
    height: 36px;
    width: 120px;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 2px;
}

#fileupload {
    width: 200px;
    border: 1px solid var(--black-color);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid var(--primary-color);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 8px;
    font-size: 16px;
    width: 50px;
}

#dvPreview img {
    margin-left: 8px;
}

.image-upload {
    margin-left: 10px;
    font-size: 12px;
}

.select-product {
    margin-left: 8px;
    margin-bottom: 8px;
    height: 36px;
    width: 200px;
    cursor: pointer;
    padding-left: 8px;
}


/* category */

.category-display {
    display: none;
}

.btn-category {
    display: none;
    height: 36px;
    width: 120px;
    font-size: 18px;
    background-color: var(--active-color);
    border: none;
    cursor: pointer;
}

.container-btn a {
    text-decoration: none;
}

.btn-action {
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
}


/* history */

.history-display {
    display: none;
}

.tbl-history {
    margin: 16px;
}

.tbl-history tbody tr td {
    width: 14%;
    min-width: 188px;
}

.tbl-history thead tr th {
    font-size: 24px;
    margin-bottom: 8px;
}


/* lastest */

.success {
    color: #00c771;
}

.area-padding {
    height: 100px;
}

.hidden {
    display: none;
}

.display {
    display: block;
}