.comment-title {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

.container-comments {
    display: flex;
    justify-content: center;
    width: 100%;
}

.area-comment {
    width: 80%;
    margin-bottom: 32px;
}

.commenter {
    display: flex;
    align-items: center;
    margin-left: 64px;
    margin-bottom: 48px;
}

.img-commenter {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.img-commenter {
    margin-right: 32px;
}

h3 {
    margin: 0;
}

.content-comment {
    margin-bottom: 16px;
    width: 80%;
    margin-left: 8%;
}

.form-comment {
    text-align: center;
}

.textarea-comment {
    width: 80%;
    padding: 8px;
    height: 120px;
    outline: none;
}

.btn-submit {
    display: block;
    height: 36px;
    width: 120px;
    cursor: pointer;
    float: right;
    background-color: var(--primary-color);
    border: 0;
}

.btn-submit:hover {
    background-color: var(--text-color);
    color: var(--white-color);
}

.container-btn {
    width: 90%;
    margin-top: 8px;
}