.input-search {
    height: 30px;
    width: 120px;
    padding-left: 8px;
    margin-left: 16px;
    outline: none;
    font-size: 14px;
}

.container-search {
    display: flex;
    background-color: rgb(245, 247, 250);
    align-items: center;
}

.btn-search {
    height: 30px;
    width: 100px;
    cursor: pointer;
    margin-left: 16px;
    margin-right: 16px;
    border: 0;
}