<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Admin</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="../../style/admin.css">


</head>

<body>
    <header class="header">
        <div class="header-logo">
            <img class="header-logo-img" src="../../img/logo-gg.jpg" alt="logo" />
        </div>
        <div class="header-profile">
            <a href="#"><img class="header-profile-img" src="../uploads/avatar.jpeg" /></a>
        </div>
    </header>

    <div class="container">
        <nav class="navbar">
            <a th:href="@{/admin}">
                <div id="btn-home" class="button-control">Home</div>
            </a>
            <a th:href="@{/admin/customers}">
                <div id="btn-user" class="button-control">Customer</div>
            </a>
            <a th:href="@{/admin/products}">
                <div id="btn-product" class="button-control">Product</div>
            </a>
            <a th:href="@{/admin/categories}">
                <div id="btn-category" class="button-control active">Category</div>
            </a>
            <a th:href="@{/admin/categories}">
                <div id="btn-history" class="button-control ">History</div>
            </a>
        </nav>
        <div class="area-control">



            <!-- category -->
            <div class="category-display  display" id="category-display">
                <div class="container-control-product">
                    <div class="area-display-title">Product</div>
                    <div class="container-btn">
                        <a th:href="@{/admin/categories/}">
                            <button id="list-category" class="btn-category  display">List category</button>
                        </a>
                    </div>
                </div>
                <!-- add category -->
                <div id="form-category" class="container-tbl">
                    <div class="container-form">
                        <form th:action="@{/admin/categories/saveOrUpdate}" method="Post" th:object="${category}">
                            <div class="add-product">
                                <h1>Add or edit category
                                </h1>
                            </div>
                            <input class="input-product" type="text" th:field="*{categoryId}" placeholder="Category ID" />
                            <input class="input-product" type="text" th:field="*{name}" placeholder="Category" />
                            <br>
                            <hr/>
                            <div class="btn-save-product"><input type="submit" value="Save" /></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="area-padding"></div>
        </div>
    </div>





</body>

</html>