<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Admin</title>

    <!-- Favicon  -->
    <link rel="icon" href="../../img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="../../style/admin.css">


</head>

<body>
    <header class="header">
        <div class="header-logo">
            <img class="header-logo-img" src="../../img/logo-gg.jpg" alt="logo" />
        </div>
        <div class="header-profile">
            <a th:href="@{/admin}"><img class="header-profile-img" src="../uploads/avatar.jpeg" /></a>
        </div>
    </header>

    <div class="container">
        <nav class="navbar">
            <a th:href="@{/admin}">
                <div id="btn-home" class="button-control">Home</div>
            </a>
            <a th:href="@{/admin/customers}">
                <div id="btn-user" class="button-control">Customer</div>
            </a>
            <a th:href="@{/admin/products}">
                <div id="btn-product" class="button-control">Product</div>
            </a>
            <a th:href="@{/admin/categories}">
                <div id="btn-category" class="button-control  active">Category</div>
            </a>
            <a th:href="@{/admin/histories}">
                <div id="btn-history" class="button-control">History</div>
            </a>
        </nav>
        <div class="area-control">


            <!-- category -->
            <div class="category-display  display" id="category-display">
                <div class="container-control-product">
                    <div class="area-display-title">Category</div>
                    <div class="container-btn">
                        <a th:href="@{/admin/categories/add}">
                            <button id="add-category" class="btn-category  display">Add category</button>
                        </a>
                    </div>
                </div>
                <!-- table category -->
                <div id="table-category" class="container-tbl">
                    <table class="tbl-user">
                        <thead>
                            <tr>
                                <th>Category ID</th>
                                <th>Category Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each=" category : ${categories}">
                                <td class="user-name">
                                    <div class="contain-content">
                                        <h3 th:text="${category.categoryId}"></h3>
                                    </div>
                                </td>
                                <td class="user-email">
                                    <div class="contain-content"><span th:text="${category.name}"></span></div>
                                </td>
                                <td class="user-action">
                                    <div class="contain-content">
                                        <a class="btn-action" th:href="@{'/admin/categories/delete/'+${category.categoryId}}">
                                            <div class="btn-delete">Delete</div>
                                        </a>
                                        <a class="btn-action" th:href="@{'/admin/categories/edit/'+${category.categoryId}}">
                                            <div class="btn-delete">Edit</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="area-padding"></div>
        </div>
    </div>





</body>

</html>